src/main/resources/ws/soap/wsdl/articleDetailsWsdl.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://shop.elevysi.com/ws/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shop.elevysi.com/ws/soap/" targetNamespace="http://shop.elevysi.com/ws/soap/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://shop.elevysi.com/ws/soap/">

    <xs:element name="ArticleDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ArticleDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Article" type="tns:Article"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Article">
        <xs:sequence>
        	<xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ArticleDetailsResponse">
    <wsdl:part element="tns:ArticleDetailsResponse" name="ArticleDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ArticleDetailsRequest">
    <wsdl:part element="tns:ArticleDetailsRequest" name="ArticleDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ArticleDetailsPort">
    <wsdl:operation name="ArticleDetails">
      <wsdl:input message="tns:ArticleDetailsRequest" name="ArticleDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:ArticleDetailsResponse" name="ArticleDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArticleDetailsPortSoap11" type="tns:ArticleDetailsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ArticleDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="ArticleDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ArticleDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArticleDetailsPortService">
    <wsdl:port binding="tns:ArticleDetailsPortSoap11" name="ArticleDetailsPortSoap11">
      <soap:address location="http://localhost:8000/service/article-details"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>